In [1]:
from erddapy import ERDDAP
from erddapy import utilities

In [2]:
import json
import urllib
import requests
file = urllib.request.urlopen('https://raw.githubusercontent.com/IrishMarineInstitute/search-erddaps/master/erddaps.json')
servers = json.loads(file.read())
file.getcode()

200

In [3]:
servers=servers[:1]

In [4]:
print(servers)

[{'url': 'https://coastwatch.pfeg.noaa.gov/erddap/'}]

In [5]:
time_min = '2010-07-10T00:00:00Z'
time_max = '2016-08-10T00:00:00Z'
bbox = [-72.0, -69, 38, 41]

kw = {
   'search_for': 'all',
   'min_lon': bbox[0],
   'max_lon': bbox[1],
   'min_lat': bbox[2],
   'max_lat': bbox[3],
   'min_time': time_min,
   'max_time': time_max,
}

In [6]:
import pandas as pd
all_datasets=pd.DataFrame()

for key in servers:
    url = key['url']
    url = url.rstrip("/")
    r = requests.get(url)
    try:
        r.raise_for_status()
        e = ERDDAP(
                 server=url,
                 protocol='tabledap',
                 response='csv'
           )
        print(e.get_search_url(**kw))
    except requests.exceptions.RequestException as err:
        print("Bad ERDDAP!!! {}".format(url))
    except requests.exceptions.HTTPError as errh:
        print("Bad ERDDAP!!! {}".format(url))
    except requests.exceptions.ConnectionError as errc:
        print("Bad ERDDAP!!! {}".format(url))
    except requests.exceptions.Timeout as errt:
        print("Bad ERDDAP!!! {}".format(url))
        
    ds = pd.read_csv('%s'%e.get_search_url(**kw))
    ds['server'] = url
    
    datasets = ds[['server','Dataset ID','tabledap']]
    
    datasets.dropna(subset=['tabledap'],inplace=True)
    
    all_datasets = pd.concat([all_datasets,datasets])

https://coastwatch.pfeg.noaa.gov/erddap/search/advanced.csv?page=1&itemsPerPage=1000&protocol=(ANY)&cdm_data_type=(ANY)&institution=(ANY)&ioos_category=(ANY)&keywords=(ANY)&long_name=(ANY)&standard_name=(ANY)&variableName=(ANY)&minLon=-72.0&maxLon=-69&minLat=38&maxLat=41&minTime=1278720000.0&maxTime=1470787200.0&searchFor=all

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
all_datasets

In [ ]:
#tabledap = all_datasets.loc[all_datasets['tabledap'].notnull(),'Info']
#ii=0
#varnames=pd.DataFrame()
#varnames = []
for i in range(2):#all_datasets.shape[0]):
    dataset_url = '%s/tabledap/%s.csvp?latitude,longitude,time&distinct()' % (all_datasets['server'].iloc[int(i)],all_datasets['Dataset ID'].iloc[int(i)])
    coords = pd.read_csv(dataset_url)
    print(coords)
    #varnames.extend(meta['Variable Name'].unique())
    #varnames = pd.merge(varnames,meta.loc[meta['Attribute Name'] == "long_name",['Variable Name','Value']])

    #e = ERDDAP(
    #    server=all_datasets['server'].iloc[ii],
    #    protocol='tabledap')

    #e.dataset_id = all_datasets['Dataset ID'].unique()
    #e.protocol = "tabledap"
    #ii+=1
#print(varnames)

        latitude (degrees_north)  longitude (degrees_east)  \
0                     -12.519775                154.414450
1                     -12.509975                154.452650
2                     -12.507925                154.467025
3                     -12.500825                154.486075
4                     -12.499300                154.469275
5                     -12.499025                154.498275
6                     -12.498950                154.519175
7                     -12.498325                154.528225
8                     -12.493425                154.503150
9                     -12.491875                154.607825
10                    -12.490350                154.548125
11                    -12.490275                154.474450
12                    -12.490150                154.512075
13                    -12.487200                154.557075
14                    -12.486350                154.502825
15                    -12.486175                154.553550
16                    -12.485375                154.554925
17                    -12.485225                154.572800
18                    -12.483925                154.581600
19                    -12.483025                154.544400
20                    -12.482600                154.560900
21                    -12.482300                154.552525
22                    -12.482150                154.580850
23                    -12.482050                154.405425
24                    -12.479475                154.662775
25                    -12.476125                154.629075
26                    -12.475700                154.603825
27                    -12.475525                154.456250
28                    -12.474800                154.633650
29                    -12.474700                154.527525
...                          ...                       ...
112150                 40.933294                -70.896214
112151                 40.935861                -70.895882
112152                 40.938839                -70.894369
112153                 40.942012                -70.892692
112154                 40.945471                -70.890865
112155                 40.948881                -70.889062
112156                 40.952150                -70.887335
112157                 40.955239                -70.885702
112158                 40.958450                -70.882050
112159                 40.961610                -70.878155
112160                 40.964835                -70.874180
112161                 40.967984                -70.870299
112162                 40.970101                -70.867689
112163                 40.972762                -70.864410
112164                 40.974861                -70.858971
112165                 40.976337                -70.854740
112166                 40.977150                -70.849250
112167                 41.395403                -72.860284
112168                 45.616843                -83.211886
112169                 49.592850                -92.961650
112170                 51.672526                -98.057880
112171                       NaN                       NaN
112172                       NaN                       NaN
112173                       NaN                       NaN
112174                       NaN                       NaN
112175                       NaN                       NaN
112176                       NaN                       NaN
112177                       NaN                       NaN
112178                       NaN                       NaN
112179                       NaN                       NaN

                  time (UTC)
0       2017-01-23T16:51:00Z
1       2015-04-29T16:35:45Z
2       2017-01-23T11:33:45Z
3       2019-08-03T14:19:30Z
4       2017-02-25T05:49:30Z
5       2015-04-29T11:03:30Z
6       2017-01-23T06:10:15Z
7       2014-10-23T19:07:30Z
8       2014-12-06T16:34:45Z
9       2017-06-30T17:30:30Z
10      2019-08-03T08:53:30Z
11      2014-10-24T00:21:30Z
12      2017-02-25T00:42:45Z
13      2017-08-13T11:16:45Z
14      2015-08-25T20:35:00Z
15      2015-08-25T14:57:15Z
16      2017-02-24T19:42:15Z
17      2017-01-23T00:56:30Z
18      2014-10-23T13:52:45Z
19      2015-04-29T05:28:30Z
20      2017-06-30T22:48:00Z
21      2014-12-06T11:19:15Z
22      2014-08-22T18:45:00Z
23      2017-01-23T22:09:00Z
24      2017-06-30T12:23:00Z
25      2017-01-22T19:40:00Z
26      2017-02-24T14:37:00Z
27      2015-08-26T02:07:45Z
28      2014-10-23T08:39:15Z
29      2014-08-22T23:42:45Z
...                      ...
112150  2016-01-07T07:39:19Z
112151  2016-01-07T08:00:40Z
112152  2016-01-07T08:24:04Z
112153  2016-01-07T08:44:57Z
112154  2016-01-07T09:07:42Z
112155  2016-01-07T09:30:09Z
112156  2016-01-07T09:51:40Z
112157  2016-01-07T10:11:59Z
112158  2016-01-07T10:39:37Z
112159  2016-01-07T11:05:31Z
112160  2016-01-07T11:31:57Z
112161  2016-01-07T11:57:46Z
112162  2016-01-07T12:15:08Z
112163  2016-01-07T12:36:56Z
112164  2016-01-07T13:08:44Z
112165  2016-01-07T13:33:49Z
112166  2016-01-07T14:08:30Z
112167  2018-06-04T11:44:03Z
112168  2018-06-04T11:12:59Z
112169  2018-06-04T10:43:45Z
112170  2018-06-04T10:13:23Z
112171  2017-05-19T04:43:12Z
112172  2017-05-20T00:17:52Z
112173  2017-05-20T05:54:46Z
112174  2017-05-20T11:33:02Z
112175  2017-05-20T17:01:40Z
112176  2017-05-20T22:24:00Z
112177  2017-05-21T03:49:04Z
112178  2017-05-21T09:18:14Z
112179                   NaN

[112180 rows x 3 columns]

In [ ]:
all_datasets['Dataset ID'].iloc[int(i)]

In [ ]:
all_datasets['server'].iloc[0]

In [ ]:
# from erddapy import ERDDAP


# e = ERDDAP(
#   server='https://data.ioos.us/gliders/erddap',
#   protocol='tabledap',
# )

# e.response = 'csv'
# e.dataset_id = 'whoi_406-20160902T1700'
# e.constraints = {
#     'time>=': '2016-07-10T00:00:00Z',
#     'time<=': '2017-02-10T00:00:00Z',
#     'latitude>=': 38.0,
#     'latitude<=': 41.0,
#     'longitude>=': -72.0,
#     'longitude<=': -69.0,
# }
# e.variables = [
#     'depth',
#     'latitude',
#     'longitude',
#     'salinity',
#     'temperature',
#     'time',
# ]

In [ ]:
#     if url != 'http://erddap.emodnet-physics.eu/erddap' and \
#     url != 'https://erddap.marine.ie/erddap' and \
#     url != 'http://oos.soest.hawaii.edu/erddap' and \
#     url != 'http://erddap.secoora.org/erddap' and \
#     url != 'https://ecowatch.ncddc.noaa.gov/erddap' and \
#     url != 'http://dap.onc.uvic.ca/erddap':

In [ ]:
# laturl = 'http://erddap.bco-dmo.org/erddap/categorize/variableName/latitude/index.csv'
# lonurl = 'http://erddap.bco-dmo.org/erddap/categorize/variableName/longitude/index.csv'

# df_lat = pd.read_csv(laturl, header=[0])
# df_lon = pd.read_csv(lonurl, header=[0])

# df_datasets = pd.merge(df_lat, df_lon, on='Dataset ID')
# df_final = pd.DataFrame(columns=['latitude (degrees_north)', 'longitude (degrees_east)', 'Dataset ID'])

# for did in df_datasets['Dataset ID']:
#     if did != 'bcodmo_dataset_739309': # remove this once we reload all the datasets again.
#         dataset_url = 'http://erddap.bco-dmo.org/erddap/tabledap/%s.csvp?latitude,longitude&distinct()' % did
#         df_data = pd.read_csv(dataset_url, header=0, usecols=['latitude (degrees_north)', 'longitude (degrees_east)'])
#         df_data['Dataset ID'] = did
#         df_final = pd.concat([df_final, df_data], sort=False, ignore_index=True)
#         print(df_final.shape)

# lon = df_final['longitude (degrees_east)'].values
# lat = df_final['latitude (degrees_north)'].values